/build
/sendeta-release.jks
/io/hypertrack/placeline/google-services.json
/fabric.properties
/src/main/res/values/api-keys.xml
/src/release/java/io/hypertrack/sendeta/google-services.json
/src/release/java/io/hypertrack/placeline/google-services.json
/src/release/java/io/hypertrack/placeline/key.properties
/src/release/java/io/hypertrack/sendeta/key.properties
/src/debug/java/io/hypertrack/sendeta/key.properties